h1 {
    position: absolute;
    top: -25px; left: 150px;
    font-size: 45px;
    text-align: center;
    border: 2px;
    border-color: beige;
}

.cabecalho {
    position: absolute;
    top: 0px; left: 0px;
    width: 300px;
    height: 00px;
}

.HOME {
    position:relative;
    top: 20px; left: 20px;
    font-size: 20px;
}
.PAGE2 {
    position:relative;
    top: -20px; left: 660px;
}

body {
    width: 900px;
    height: 900px;
    overflow-x: hidden;
    overflow-y: hidden;
}