* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: var(color: bisque;);
}

h1 {
    position: absolute;
    top: 25px; left: 80px;
    font-size: 37px;
    text-align: center;
    border: 2px;
    border-color: beige;
}

.cabecalho {
    background-color: rgb(60, 75, 33);
    position: absolute;
    top: 0px; left: -170px;
    max-width:700px;
    max-height:900px;
    height: auto;
}

.HOME {
    position:relative;
    top: 160px; left: 350px;
    font-size: 25px;
}

.Display-social{
    position:relative;
    top: 380px; left: -320px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    flex: 1 1 0;
    max-width: 1000px;
    color: beige;
}


body {
    width: 900px;
    height: 1080px;
    overflow-x: hidden;
}